[submodule "0.1_spring_cloud/git-localconfig-repo1"]
	path = 0.1_spring_cloud/git-localconfig-repo1
	url = C:/1_workspace/1_customer_order_aggregate-microservices/0.1_spring_cloud/git-localconfig-repo1/
